<main id="saus" class="spaceAround">
    <div class="info">
        <h2>Beleg Soort</h2>
        <p>Stap 2/4</p>
    </div>
    <div class="spaceAround keuzeScherm">
        <div id="keuzes" class="centering">
            <form class="centering" action="/add" method="POST">
                <div class="saus">
                    <input name="saus" type="checkbox" id="Ketchup" value="Ketchup">
                    <label class="centering" for="Ketchup">
                        <img src="img/Saus/Ketchup.png" alt="">
                        <p>Ketchup</p>
                    </label>
                    <input name="saus" type="checkbox" id="Mayonaise" value="Mayonaise">
                    <label class="centering" for="Mayonaise">
                        <img src="img/Saus/Mayonaise.png" alt="">
                        <p>Mayonaise</p>
                    </label>
                    <input name="saus" type="checkbox" id="Mosterd" value="Mosterd">
                    <label class="centering" for="Mosterd">
                        <img src="img/Saus/Mosterd.png" alt="">
                        <p>Mosterd</p>
                    </label>
                    <input name="saus" type="checkbox" id="NoneSaus" value="NoneSaus">
                    <label class="centering" for="NoneSaus">
                        <img src="img/Saus/None.png" alt="">
                        <p>Geen</p>
                    </label>
                </div>
                <button type="submit">Next</button>
            </form>
        </div>
    </div>
</main>