<main id="beleg" class="spaceAround">
    <div class="info">
        <h2>Beleg Soort</h2>
        <p>Stap 2/4</p>
    </div>
    <div class="spaceAround keuzeScherm">
        <div id="keuzes" class="zonderJS" class="centering">
            <form class="centering" action="/add" method="POST">
                <input name="optie" id="toggleVlees" type="radio" checked>
                <input name="optie" id="toggleGroente" type="radio">
                <input name="optie" id="toggleKaas" type="radio">
                <nav>
                    <label class="vleesBtn" for="toggleVlees">Vlees</label>
                    <label class="groenteBtn" for="toggleGroente">Groente</label>
                    <label class="kaasBtn" for="toggleKaas">Kaas</label>
                </nav>
                <div class="beleg">
                    <div id="vleesCategorie" class="beleg-categorie-opties">
                        <input name="beleg" type="checkbox" id="Ham" value="Ham">
                        <label class="centering" for="Ham">
                            <img src="img/Beleg/Vlees/Ham.png" alt="">
                            <p>Ham</p>
                        </label>
                        <input name="beleg" type="checkbox" id="Salami" value="Salami">
                        <label class="centering" for="Salami">
                            <img src="img/Beleg/Vlees/Salami.png" alt="">
                            <p>Salami</p>
                        </label>
                    </div>
                    <div id="groenteCategorie" class="beleg-categorie-opties">
                        <input name="beleg" type="checkbox" id="Olijven" value="Olijven">
                        <label class="centering" for="Olijven">
                            <img src="img/Beleg/Groente/Olijven.png" alt="">
                            <p>Olijven</p>
                        </label>
                        <input name="beleg" type="checkbox" id="Sla" value="Sla">
                        <label class="centering" for="Sla">
                            <img src="img/Beleg/Groente/Sla.png" alt="">
                            <p>Sla</p>
                        </label>
                        <input name="beleg" type="checkbox" id="Tomaat" value="Tomaat">
                        <label class="centering" for="Tomaat">
                            <img src="img/Beleg/Groente/Tomaat.png" alt="">
                            <p>Tomaat</p>
                        </label>
                    </div>
                    <div id="kaasCategorie" class="beleg-categorie-opties">
                        <input name="beleg" type="checkbox" id="Mozzerela" value="Mozzerela">
                        <label class="centering" for="Mozzerela">
                            <img src="img/Beleg/Kaas/Mozzerela.png" alt="">
                            <p>Mozzerla</p>
                        </label>
                        <input name="beleg" type="checkbox" id="Kaas" value="Kaas">
                        <label class="centering" for="Kaas">
                            <img src="img/Beleg/Kaas/Kaas.png" alt="">
                            <p>Kaas</p>
                        </label>
                    </div>
                </div>
                <button type="submit">Next</button>
            </form>
        </div>
    </div>
</main>