<main class="spaceAround zonderJS">
    <div class="info">
        <h2>Brood Soort</h2>
        <p>Stap 1/4</p>
    </div>
    <div class="keuzeScherm zonderJS">
        <form action="/add" method="POST">
            <div class="soort">
                <input name="radioBtn" type="radio" id="bruinBrood" value="Bruin">
                <label class="optie centering" for="bruinBrood">
                    <img src="img/Brood/Bruin.png" alt="">
                    Bruin Brood
                </label>
                <input name="radioBtn" type="radio" id="witBrood" value="Wit">
                <label class="optie centering" for="witBrood">
                    <img src="img/Brood/Wit.png" alt="">
                    Wit Brood
                </label>
                <input name="radioBtn" type="radio" id="maisBrood" value="Maïs">
                <label class="optie centering" for="maisBrood">
                        <img src="img/Brood/Maïs.png" alt="">
                    Maïs Brood
                </label>
                <input name="radioBtn" type="radio" id="volkorenBrood" value="Volkoren">
                <label class="optie centering" for="volkorenBrood">
                        <img src="img/Brood/Volkoren.png" alt="">
                    Volkoren Brood
                </label>
            </div>
            <button class="zonderJS" type="submit">Next</button>
        </form>
    </div>
</main>