@import "./breadSvg.css";
*{
    margin: 0;
    padding: 0;
}
/* Global Coloring 
--------------------*/
body{
    font-family: 'Fredoka One', cursive;
    background: #86D8FD;
    height: 100vh;
}
header{
    width: 100vw;
    height: 10vh;
    max-height: 70px;
    background: #FFBF04;
    color: white;
    position: fixed;
    top: 0;
}
nav{
    display: flex;
    justify-content: space-between;
}
h1{
    text-align: center;
    font-size: 24px;
    font-weight: 400;
}
img{
    width: 180px;
}
a,
button{
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 12px;
    width: 120px;
    background: rgba(0,0,0,.3);
    font-family: 'Fredoka One', cursive;
    color: white;
    border: white solid 2px;
    border-radius: 20px;
    transition: .25s;
    outline: none;
    margin: 40px auto;
    display: block;
}
i{
    color:white;
    font-size: 30px;
    cursor: pointer;
    transition: .25s;
    transform-origin: center;
}
.fas.fa-angle-right:hover,
.fas.fa-angle-left:hover{
    transform: scale(1.35);
    text-shadow: 2px 2px 12px rgba(28,110,164,0.73);
}
.fas.fa-angle-right.disabled:hover,
.fas.fa-angle-left.disabled:hover{
    transform: scale(1);
    text-shadow: none;
}
main{
    margin-top: 5vh;
    height: 70vh;
    min-width: 400px;
    max-height: 650px; 
    max-width: 500px;
    margin: auto;
    justify-content: space-around;
}
input[type="radio"]{
    display: none;
}
form{
    width: 100%;
    height: 100%;
}
button:focus,
button:hover{
    color: black;
    background: white;
}
h1,h2,h3{
    color: white;
}
label{
    cursor: pointer;
}
/* Globals Zonder Javascript Styling
------------------ */
main.zonderJS{
    height: 85vh;
}
/* Styling classes 
--------------------*/ 
.visible{
    opacity: 1 !important;
}
.centering{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.spaceAround{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.info{
    height: 10%;
    text-align: center;
}
.info >h2{
    font-size: 28px;
}
.img-container{
    border-radius: 50%;
}
.disabled{
    opacity: .3;
}

/* Homepage Styling 
--------------------*/
#FullTosti{
    animation: upDownAnim 3s infinite ease-out;
}
.tostiShadow{
    background: rgba(0,0,0,.5);
    width: 150px;
    height: 20px;
    border-radius: 50%;
    animation: shadow 3s infinite ease-out;
}

/* Tosti Page 1 Styling 
--------------------*/
#keuzes{
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
    margin: 10px;
}
#keuzes .broodSoort > label{
    color: black;
    font-weight: 400;
    font-size: 22px;
    text-align: center;
    opacity: 0;
    grid-row-start: 1;
    grid-column-start: 1;
    transition: .25s;
}
.broodSoort{
    display: grid;
    width: 80%;
    grid-template-columns: 1fr;
}
.broodKeuze{
    width: 80%;
}
/* - Tosty Page 1 Zonder JS - */
.broodKeuze.zonderJS{
    height: 85%;
}
.broodKeuze.zonderJS > form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}
.broodKeuze.zonderJS > form > .broodSoort{
    width: 100%;
    height: 80%;
}
.broodKeuze.zonderJS > form > .broodSoort > label{
    z-index: 9000;
    background: rgba(0,0,0,.5);
    border-radius: 10px;
    width: 100%;
    height: 60px;
    color: rgba(255,255,255,.5);
    transition: .25s;
}
.broodKeuze.zonderJS > form > .broodSoort > input[type="radio"]:checked + label{
    background: black;
    color: white;
}
button.zonderJS{
    margin: 10px auto;
}
/* Svg Styling 
--------------------*/
svg{
    width: 200px;
}
svg > * {
    transition: .25s;
}
@keyframes upDownAnim{
    0%{
        transform: translate(0,0);
    }
    50%{
        transform: translate(0,20px);
    }
    100%{
        transform: translate(0,0);
    }
}

@keyframes shadow{
    0%{
        transform: scale(0.8);
    }
    50%{
        transform: scale(1);
    }
    100%{
        transform: scale(0.8);
    }
}