<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>
<body class="centering">
    <header class="centering">
        <h1>Maak Uw Tosti</h1>
    </header>
    <main id="index" class="spaceAround">
        <div class="img-container">
            <img id="FullTosti" src="/img/Tosti.png" alt="">
        </div>
        <div class="tostiShadow">
        </div>
        <a href="/tosti1">
            Start
        </a>
    </main>
</body>
</html>