<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>
<body class="centering">
    <header class="centering">
        <h1>Maak Uw Tosti</h1>
    </header>
    <main id="index" class="spaceAround">
        <div class="img-container">
            <img id="FullTosti" src="/img/Tosti.png" alt="tosti">
        </div>
        <div class="tostiShadow">
        </div>
        <div class="startBtn">
            <!-- IF javascript is disabled the form action will be send as javscriptNO to sign to the server that javascript isnt enabled(or js to slow) -->
            <form action="/javascriptNO" method="POST">
                <button type="submit">Start</button>
            </form>
        </div>
    </main>
    <script src="js/jsCheck.js"></script>
</body>
</html>