<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test</title>
</head>
<body>
    <form action="/testPost" id="form" method="post">
        <label for="CMC">Converted Mana Cost:</label>
        <select id="CMC" type="select" name="CMC" value="">
            <option value="" selected disabled hidden>Choose here</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
        </select>
        <label for="rarity">Rarity:</label>
        <select id="rarity" class="rarity" name="rarity">
            <option value="" selected disabled hidden>Choose here</option>
            <option value="Common">Common</option>
            <option value="Uncommon">Uncommon</option>
            <option value="Rare">Rare</option>
            <option value="Mythic">Mythic Rare</option>
        </select>
        <label for="type">Type:</label>
        <select id="type" class="type" name="type">
            <option value="" selected disabled hidden>Choose here</option>
            <option value="Creature">Creature</option>
            <option value="Instant">Instant</option>
            <option value="Sorcery">Sorcery</option>
            <option value="Enchantment">Enchantment</option>
            <option value="Artifact">Artifact</option>
            <option value="Planeswalker">Planeswalker</option>
            <option value="Land">Land</option>
        </select>
        <label for="colors">Colors:</label>
        <select id="colors" class="colors" name="colors">
            <option value="" selected disabled hidden>Choose here</option>
            <option value="White">White</option>
            <option value="Red">Red</option>
            <option value="Blue">Blue</option>
            <option value="Black">Black</option>
            <option value="Green">Green</option>
        </select>
        <button type="submit">Search</button>
    </form>
</body>
</html>