<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>
<body class="centering">
    <header class="centering">
        <h1>Maak Uw Tosti</h1>
    </header>
    <% if(!settings.javascript) { %>
        <% include ../partials/forms/jsNO/bread %>
    <% } else if(settings.javascript){ %>
        <% if (!settings.tosti) { %>
            <% include ../partials/forms/jsYES/bread %>
        <% } else { %>
            <% if(settings.tosti.length === 1){ %>
                <% include ../partials/forms/jsYES/beleg %>
            <% } %>
        <% } %>
    <% } %>
    <!-- <script type="module" src="js/bread.js"></script> -->
</body>
</html>