<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>
<body class="centering">
    <header class="centering">
        <h1>Maak Uw Tosti</h1>
    </header>
    <main class="spaceAround zonderJS">
        <div class="info">
            <h2>Brood Soort</h2>
            <p>Stap 1/4</p>
        </div>
        <div class="broodKeuze zonderJS">
            <form action="/tosti2">
                <div class="broodSoort">
                    <input name="radioBtn" type="radio" id="bruinBrood" value="Bruin">
                    <label class="centering" for="bruinBrood">Bruin Brood</label>
                    <input name="radioBtn" type="radio" id="witBrood" value="Wit">
                    <label class="centering" for="witBrood">Wit Brood</label>
                    <input name="radioBtn" type="radio" id="maisBrood" value="Maïs">
                    <label class="centering" for="maisBrood">Maïs Brood</label>
                    <input name="radioBtn" type="radio" id="volkorenBrood" value="Volkoren">
                    <label class="centering" for="volkorenBrood">Volkoren Brood</label>
                </div>
                <button class="zonderJS" type="submit">Next</button>
            </form>
        </div>
    </main>
    <script type="module" src="js/script.js"></script>
</body>
</html>